{% extends 'base.html' %}
{% load static %}
{% block content %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 mb-3">Product List</h1>            
          </div>
          <div class="col-sm-6">
            <div class="card-header">
                <div class="card-tools">
                    <ul class="nav nav-pills ml-auto">                   
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'product:create_product_url' %}">Create Product</a>
                    </li>
                  </ul>
                </div>
            </div>           
          </div>                  
        </div>                
        <table class="table">                                    
            <thead class="thead-dark">                             
                <tr>                            
                    <th scope="col">Product name</th>                    
                    <th scope="col">Product code</th>                    
                    <th scope="col">Purchase price</th>                    
                    <th scope="col">Selling price</th>                    
                    <th scope="col">Category name</th>                    
                    <th scope="col">Country name</th>  
                    <th scope="col">Seller name</th>  
                    <th scope="col">Action</th>
                </tr>
            </thead>                        
            <tbody>      
                {% for pro in products %}                          
                    <tr>                                                                                    
                      <td>{{pro.product_name}}</td>
                      <td>{{pro.product_code}}</td>
                      <td>{{pro.product_purchase_price}}</td>
                      <td>{{pro.product_selling_price}}</td>                      
                      <td>{{pro.category.category_name}}</td>    
                      <td>{{pro.country.country_name}}</td>    
                      <td>{{pro.seller.seller_name}}</td>    
                      <td><a class="text-success" href="">Update</a> || <a class="text-danger" href="">Delete</a></td>                      
                    </tr>                  
                {% endfor %}                
            </tbody>
        </table>
      </div>        
    </div>   
  </div>
  {% include 'footer.html' %}
  {% endblock %}
  