{% extends 'base.html' %}
{% load static %}
{% block content %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 mb-3">Country</h1>            
          </div>
          <div class="col-sm-6">
            <div class="card-header">
                <div class="card-tools">
                    <ul class="nav nav-pills ml-auto">                   
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'product:country_list_url' %}">Country List</a>
                    </li>
                  </ul>
                </div>
            </div>           
          </div>                  
        </div>
        <hr>
        <form action="" class="form" method="POST">
          {% csrf_token %}
            <div class="row">
                <div class="form-group col-sm-6">
                    <label for="category" class="text-secondary"><small>Country Name*</small></label>
                    <input type="text" id="category" class="form-control" name='country_name'>
                </div>
            </div>
            <section class="content">        
                <div class="card-header">
                    <div class="card-tools">
                        <ul class="nav nav-pills ml-auto">                   
                        <li class="nav-item">                 
                          <button class="nav-link active" type="submit">Create</button>                                    
                        </li>
                      </ul>
                    </div>
                </div>          
            </section> 
        </form>        
      </div>        
    </div>   
  </div>
  {% include 'footer.html' %}
  {% endblock  %}
  