{% include 'base.html' %}
{% load static %}
{% block content %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 mb-3">Seller List</h1>            
          </div>
          <div class="col-sm-6">
            <div class="card-header">
                <div class="card-tools">
                    <ul class="nav nav-pills ml-auto">                   
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'product:create_seller_url' %}">Create Seller</a>
                    </li>
                  </ul>
                </div>
            </div>           
          </div>                  
        </div>                
        <table class="table">                                    
            <thead class="thead-dark">                             
                <tr>                            
                    <th scope="col">Name</th>                    
                    <th scope="col">Action</th>
                </tr>
            </thead>                        
            <tbody>      
                {% for seller in sellers %}                          
                    <tr>                                                                                    
                      <td>{{seller.seller_name}}</td>
                      <td><a class="text-success" href="">Update</a> || <a class="text-danger" href="">Delete</a></td>                      
                    </tr>                  
                {% endfor %}                
            </tbody>
        </table>
      </div>        
    </div>   
  </div>
{% endblock  %}
{% include "footer.html" %}
